{% extends 'main/main.html' %}

{% block content %}
    <div class="row main-content d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-50">
            <div class="card bg-form text-white" style="border-radius: 4rem;">
              <div class="card-body p-3 text-center">
                <div class="mb-3 mt-2 pb-3">
                  <h2>Create a New Site</h2>
                  <form method="post" action="{% url 'create_site' %}">
                    {% csrf_token %}
                    <div class="form-outline form-white mb-3">
                        {{ form.name }}
                        <label class="form-label" for="typeEmailX">Name</label>
                    </div>

                    <div class="form-outline form-white mb-3">
                        {{ form.url }}
                        <label class="form-label" for="typePasswordX">URL</label>
                    </div>
                        <button class="btn btn-outline-light btn-lg" type="submit">Create Site</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
