<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>VPN_Service</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/site-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if user.is_authenticated  %}
        <a class="navbar-brand" href="{% url 'main' %}"><p>Your Best VPN friend</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% else %}
        <a class="navbar-brand" href="{% url 'main' %}"><p>Your Best VPN friend</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end">


        <div class="form-inline my-0 my-lg-0">
            {% if user.is_authenticated %}
{#                <a href="{% url 'personal_area' %}" class="btn btn-outline-light user-button">#}
{#                    Profile#}
{#                    <img src="/static/images/user01.png" alt="User" class="user-icon">#}
{#                </a>#}
                <a href="{% url 'logout' %}" class="btn btn-outline-light user-button">
                    Logout
                    <img src="/static/images/exit.png" alt="exit" class="login-icon">
                </a>
            {% else %}
                <a href="{% url 'register' %}" class="btn btn-outline-light user-button">
                    Sign up
                <img src="/static/images/register.png" alt="register" class="register-icon">
                </a>
                <a href="{% url 'login' %}" class="btn btn-outline-light user-button">
                    Log in
                <img src="/static/images/exit.png" alt="exit" class="login-icon">
                </a>
            {% endif %}
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}

    {% endblock content %}
<button id="back-to-top" title="Back to Top">&#9650;</button>
</div>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p><i>Ecommerce Website </i></p>
                <p>eCommerce website presented to demonstrate the capabilities and knowledge applied in practice by Roman Yefremov, the main task was in the functionality on the backend side. ease of use and friendly interface for the possibility of further real use.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>working hours</h6>
                <p>Monday-Friday: 9:00 am to 7:00 pm</p>
                <p>Saturday-Sunday: weekend</p>
            </div>

        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Roman Yefremov
{#                    <a href="#"></a>.#}
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="linkedin" href="https://www.linkedin.com/in/roma-yefremov-55496923a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="github" href="https://github.com/RomanYefremov" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{#<script type="text/javascript" src="{% static 'js/update_field.js' %}"></script>#}
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const backToTopButton = document.getElementById('back-to-top');

        // Show/hide the "Back to Top" button
        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) {
                backToTopButton.classList.add('show');
            } else {
                backToTopButton.classList.remove('show');
            }
        });

        // Scroll smoothly to the top when the button is clicked
        backToTopButton.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    });

</script>
</body>
</html>
